/* All Condition */
* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.layar-dalam {
    width: 1000px;
    margin: auto;
}
.layar-penuh {
    width: 100%;
}
section {
    margin: auto;
    padding: 50px 180px 0px 180px;
    display: auto;
    box-sizing: border-box;
    background-color: #fff;
}
/* All Condition */


/* Navigation Bar */
nav {
    z-index: 100;
    background-color: #007BFF;
    color: rgb(208, 22, 22);
    text-align: center;
    position: fixed;
    border-bottom: none;
    line-height: 60px;
    width: 100%;
    padding: 10px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4)
}
nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}
nav .logo img {
    vertical-align: middle;
    width: 50px;
}
nav .menu {
    float: right;
    height: auto;
    max-width: 600px;
}
nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
}
nav .menu ul li a {
    color: white;
    line-height: normal;
    text-align: center;
    padding: 32px 16px 32px 16px;
    text-decoration: none;
}
nav .menu ul a:hover {
    background-color: #EFF3EA;
    color: #007BFF;
}
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.tombol-menu .garis {
    height: 3px;
    background-color: white;
}
/* Navigation Bar */

/* Heading Homepage*/
header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}
header .intro {
    z-index: 100;
    color: white;
    text-align: center;
    position: relative;
    top: 50%
}
header .intro h3 {
    font-size: 50px;
    line-height: 42px;
    margin: 0;
    padding: 0;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 30%;
    z-index: -1;
}
.buttonn {
    background-color: #007BFF;
    text-transform: uppercase;
    line-height: normal;
    font-size: 14px;
    color: #F5EFFF;
    text-decoration: none;
    display: inline-block;
    padding: 12px 32px 12px 32px;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.buttonn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}


/* Heading Homepage*/

/* Visi Misi*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.visimisi{
    background-color: #FFFFFF;
}
.container1 {
    display: flex;
    max-width: 1200px;
    padding: 20px;
    overflow: hidden;
}
.imagevsms {
    flex: 1;
}
.imagevsms img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textvsms {
    flex: 1.5;
    padding: 5px;
    text-align: justify;
}
.textvsms h2 {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: normal;
    color: #333;
}
.textvsms h3 {
    font-size: 25px;
    margin: 20px 0 10px 50px;
    color: #007BFF;
}
.textvsms ul {
    list-style-type: '✨';
}
.textvsms ul li {
    padding: 0px 0px 5px 20px;
    margin: 20px 0 10px 50px;
    font-size: 1.1em;
    color: #444;
}
/* Visi Misi*/

/* Penerima Jalur PTN */
body {
    font-family: Arial, sans-serif;
}
.ptn {
    background-color: #F5EFFF;
    padding-bottom: 50px;
}
.container2 {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}
h2 {
    color: #002147;
    position: relative;
    font-size: 30px;
    text-align: center;
    line-height: normal;
}
h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background: #ffd700;
    margin: 10px auto 0;
}
.siswa {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.kartu {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 220px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.kartu:hover {
    transform: translateY(-10px);
}
.kartu img {
    width: 100%;
    height: auto;
}
.kartu-text {
    padding: 15px;
}
.kartu-text h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.kartu-text span {
    font-size: 16px;
    font-weight: bold;
    color: #ff8c00;
    text-transform: capitalize;
}
.ptn p{
    text-align: center;
}
.tombole {
    background-color: #007BFF;
    text-transform: uppercase;
    line-height: normal;
    font-size: 14px;
    color: #F5EFFF;
    text-decoration: none;
    display: inline-block;
    padding: 12px 32px 12px 32px;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.tombole:hover {
    color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
/* Penerima Jalur PTN */

/* Ekstrakurikuler */
h2 {
    color: #002147;
    position: relative;
    font-size: 30px;
    text-align: center;
    line-height: normal;
}
.eskul {
    padding-bottom: 50px;
}
.container5 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.box {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.box:hover {
    transform: translateY(-5px);
}
.kartu-box {
    display: flex;
    padding: 20px;
}
.kartu-box img{
    width: 80px;
    height: auto;
}
.texxx {
    margin-left: 20px;
}
/* Ekstrakurikuler */

/* Berita */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.berita {
    background-color: #F5EFFF;
    padding-bottom: 50px;
}
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: auto;
}
.card-content {
    padding: 15px;
    display: inline-block;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card img {
    width: 150%;
}
.card-content h3 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #333;
}
.card-content p {
    white-space: nowrap;
    font-size: 14px;
    color: #666;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-content a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}
.card-content a:hover {
    text-decoration: underline;
}
.card-footer {
    padding: 10px 15px;
    background: #f9f9f9;
    border-top: 5px solid #eee;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
}
.card-footer a {
    color: #4ea3ff;
    font-weight: 700;
    text-decoration: none;
}
.berita p{
    text-align: center;
}
/* Berita */

/* Kontak Kami */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.wrapper {
    display: flex;
    text-align: justify;
}
.wrapper h3{
    line-height: normal;
    font-size: 25px;
    color: #007BFF;
}
.tempatkami{
    border: 0;
    width: 600px;
    height: 600px;
}
.kontakkami {
    margin-left: 50px;
    text-align: justify;
}
.kontakkami .form input{
    width: 90%;
    padding: 20px;
    margin: 5px 0px 5px 0px;
    opacity: 100%;
    border: 1px solid #EFF3EA;
    box-shadow: #666;
}
.kontakkami .form textarea{
    width: 90%;
    padding: 20px;
    margin: 5px 0px 5px 0px;
    opacity: 100%;
    border: 1px solid #EFF3EA;
    box-shadow: #666;
}
.kontakkami .form button{
    width: 60%;
    padding: 10px;
    margin: 5px 0px 5px 0px;
    background-color: #007BFF;
    color: #EFF3EA;
    border: 0px;
}
/* Kontak Kami */

/* Footer */
.about_us{
    background-image: inherit;
    background-color: #007BFF;
    margin: auto;
    padding: 50px 180px 50px 180px;
}
.container6{
    display: flex;
    width: 100%;
    text-align: justify;
}
.sekolahkami{
    max-width: 40%;
    margin-right: 40px;
}
.judulan{
    display: flex;
}
.judulan img{
    position: relative;
    text-align: center;
    width: 60px;
    padding: 20px;
}
h3{
    font-size: 20px;
    align-content: center;
}
.banner_sosial_media{
    display: block;
    text-decoration: none;
    margin: 4px;
    color: #000;
    border: 0.1rem solid black;
    border-radius: 50%;
    padding: 1em;
    font-size: 1em;
    transition: all 0.2 linear;
}
.banner_sosial_media:hover{
    background: #fff;
    color: #007BFF;
    cursor: pointer;
    border: none;
}
.icons{
    width: 50%;
    display: flex;
    grid-template-columns: repeat(1, 8em);
    grid-column: 1rem;
    justify-content: left;
}

.information{
    border: 1em;
    display: block;
    margin: 20px auto 20px;
    padding: auto;
    font-weight: bolder;
}
.information a{
    text-decoration: none;
    color: #000;
}
.information a:hover{
    text-decoration: underline;
}

/* Footer */

@media screen and (max-width:991.98px) {
    .layar-dalam {
        width: 90%;
    }

    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid black;
        background-color: white;
        line-height: 40px;
    }

    nav .menu ul li a {
        color: black;
    }

    .tombol-menu {
        margin-right: 40px;
        display: flex;
    }

    header .intro h3 {
        font-size: 30px;
        margin: 0px 40px 20px 40px;
        padding: 0;
    }

    header .intro p {
        margin: 0px 10px 20px 10px;
    }
    
    section{
        margin: 0;
        padding: 0 10px 0px 10px;
    }

    .container1{
        display: grid;
        margin: 5px;
    }

    .ptn {
        padding: 50px;
    }
    .textvsms h3 {
        font-size: 25px;
        margin: 0;
        color: #007BFF;
    }
    
    .textvsms ul li {
        padding: 0px 0px 5px 20px;
        margin: 0;
        font-size: 1.1em;
        color: #444;
    }

    .wrapper{
        display: grid;
        margin: 5px;
    }
    .tempatkami{
        align-items: center;
        border: 0;
        width: 300px;
        height: 200px;
    }
    .kontakkami {
        margin-left: 0;
    }
}