<footer class="about_us">
    <div class="container6">
        <div class="sekolahkami">
            <div class="judulan">
                <img src="asset/logo.png" alt="logo">
                <h3>SMAN 5 TAMBUN SELATAN</h3>
            </div>
            <p>SMA Negeri 5 Tambun Selatan yang terletak berdekatan dengan Jakarta sebagai Ibu Kota Negara, Kota Metropolitan. Bekasi sebagai daerah penyangga Ibu Kota dituntut untuk menyediakan sarana pendidikan.</p><br>
            <div class="icons">
                <a href="" class="banner_sosial_media">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="" class="banner_sosial_media">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                <a href="" class="banner_sosial_media">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="" class="banner_sosial_media">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="alamat_asli">
            <h3>ALAMAT</h3>
            <div class="information">
                <p>TELEPON</p>
                <span>(021) 82627616</span>
            </div>
            <div class="information">
                <p>EMAIL</p>
                <span><a href="humas@sman5tambunselatan.sch.id">humas@sman5tambunselatan.sch.id</a></span>
            </div>
            <div class="information">
                <p>SEKOLAH</p>
                <span><a href="https://maps.app.goo.gl/ZG1oB2W443rTDpFK7"></a>Jl. Sunset Ave Grand Wisata</a></span>
            </div>
        </div>
    </div>
</footer>